{% import "config.twig" as config %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="Description" content="bearoot.fr est un site cr&eacute;eacute; par et pour les deacute;veloppeurs. Il constiste en la centralisation d'un maximum de ressources de qualiteacute; traitant du deacute;veloppement."/>
		<meta name="Keywords" content="langages, plateformes, references"/>
		<meta http-equiv="Content-Language" content="fr"/>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="author" content="BEAROOT" />
		
		<link rel="icon" type="image/png" href="{{ config.AbsolutePath('favicon.png') }}" /> 
		<link rel="shortcut icon" type="image/x-icon" href="{{ config.AbsolutePath('favicon.png') }}" />
		
		<title>Bearoot</title>
		
		
		<link href="{{ config.AbsolutePath('css/wijmo/jquery-wijmo.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ config.AbsolutePath('css/wijmo/jquery.wijmo.wijsuperpanel.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ config.AbsolutePath('css/wijmo/jquery.wijmo.wijmenu.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ config.AbsolutePath('css/wijmo/jquery.wijmo.wijtextbox.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ config.AbsolutePath('css/wijmo/jquery.wijmo.wijlist.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ config.AbsolutePath('css/wijmo/jquery.wijmo.wijdropdown.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ config.AbsolutePath('css/wijmo/jquery.wijmo.wijradio.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ config.AbsolutePath('css/wijmo/jquery.wijmo.wijcheckbox.css') }}" rel="stylesheet" type="text/css" />
		
		<link href="{{ config.AbsolutePath('css/wijmo/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet/less" type="text/css" href="{{ config.AbsolutePath('css/style.less') }}" />
		<style type="text/css">
                    /* FONTS */
                    @font-face {
                            font-family: 'FranchiseRegular';
                            src: url('{{ config.AbsolutePath('css/fonts/franchise-bold-webfont.eot') }}');
                            src: url('{{ config.AbsolutePath('css/fonts/franchise-bold-webfont.eot?#iefix') }}') format('embedded-opentype'), url('{{ config.AbsolutePath('css/fonts/franchise-bold-webfont.woff') }}') format('woff'), url('{{ config.AbsolutePath('css/fonts/franchise-bold-webfont.ttf') }}') format('truetype'), url('{{ config.AbsolutePath('css/fonts/franchise-bold-webfont.svg#FranchiseRegular') }}') format('svg');
                            font-weight: normal;
                            font-style: normal;
                    }
                </style>
		
		<script src="{{ config.AbsolutePath('js/less.min.js') }}" type="text/javascript"></script>
		<script src="{{ config.AbsolutePath('js/head.min.js') }}" type="text/javascript"></script>
		
		<!--[if lt IE 10]>
			<script type="text/javascript" src="{{ config.AbsolutePath('js/PIE.js') }}"></script>
			<script type="text/javascript">
				$(function() {
					$('*').each(function() {
						PIE.attach(this);
					});
				});
			</script>
		<![endif]-->
		
		<style>
	.ui-autocomplete-category {
		padding: .2em .4em 0;
		margin: .8em 0 .2em;
		font-size: 1.4em;
		color: #fff;
	}
	</style>
		
		<script type="text/javascript">
			head.js(
				"{{ config.AbsolutePath('js/jquery-1.6.2.min.js') }}",
				"{{ config.AbsolutePath('js/jquery-ui-1.8.16.custom.min.js') }}",
				
				"{{ config.AbsolutePath('js/wijmo/jquery.wijmo.wijutil.min.js') }}",
				"{{ config.AbsolutePath('js/wijmo/jquery.wijmo.wijsuperpanel.min.js') }}",
				"{{ config.AbsolutePath('js/wijmo/jquery.wijmo.wijmenu.min.js') }}",
				"{{ config.AbsolutePath('js/wijmo/jquery.wijmo.wijtextbox.min.js') }}",
				"{{ config.AbsolutePath('js/wijmo/jquery.wijmo.wijlist.min.js') }}",
				"{{ config.AbsolutePath('js/wijmo/jquery.wijmo.wijdropdown.min.js') }}",
				"{{ config.AbsolutePath('js/wijmo/jquery.wijmo.wijradio.min.js') }}",
				"{{ config.AbsolutePath('js/wijmo/jquery.wijmo.wijcheckbox.min.js') }}",
				
				"{{ config.AbsolutePath('js/jquery.mousewheel.min.js') }}",
				"{{ config.AbsolutePath('js/jquery.bgiframe-2.1.3-pre.js') }}",
                                "{{ config.AbsolutePath('js/jquery-sticky-footer.js') }}",
				function() {
					$.widget( "custom.catcomplete", $.ui.autocomplete, {
						_renderMenu: function( ul, items ) {
							var self = this,
								currentCategory = "";
							$.each( items, function( index, item ) {
								if ( item.category != currentCategory ) {
									ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
									currentCategory = item.category;
								}
								self._renderItem( ul, item );
							});
						}
					});
					
					$(function() {
						$('button, .button').button();
                                                $('#subscribeButton').button({ icons: {primary:'ui-icon-star'} });
						
						$("#menuB").wijmenu();
						$("#menuB").wijmenu("option", "showDelay", 200);
						
						$('.ui-list').accordion({ event: "mouseover" });
						
						
						$('button.ui-button-prev').button({ icons: {primary:'ui-icon-circle-triangle-w'}, text: false });
						$('button.ui-button-next').button({ icons: {primary:'ui-icon-circle-triangle-e'}, text: false });
						
						$('button.ui-icon-locked, .button.ui-icon-locked').button({ icons: {primary:'ui-icon-locked'} });
						
						$("input[type='text'], input[type='password'], textarea").wijtextbox();
						
						
						$("#searchButton").button({ icons: {primary:'ui-icon-search'}, text: false });
						$.widget( "custom.catcomplete", $.ui.autocomplete, {
							_renderMenu: function( ul, items ) {
								var self = this,
									currentCategory = "";
								$.each( items, function( index, item ) {
									if ( item.category != currentCategory ) {
										ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
										currentCategory = item.category;
									}
									self._renderItem( ul, item );
								});
							}
						});
						$("#search input[type='text']").catcomplete({
							source: [
									{
										label: 'c++',
										category: 'langage'
									},{
										label: 'java',
										category: 'langage'
									},{
										label: 'php',
										catbuttonegory: 'langage'
									},{
										label: 'coldfusion',
										category: 'langage'
									},{
										label: 'javascript',
										category: 'langage'
									},{
										label: 'asp',
										category: 'langage'
									},{
										label: 'ruby',
										category: 'langage'
									},{
										label: 'siteduzero',
										category: 'site'
									},{
										label: 'lafermeduweb',
										category: 'site'
									},{
										label: 'android',
										category: 'mobile'
									},{
										label: 'iOS',
										category: 'mobile'
									},{
										label: 'Ubuntu',
										category: 'linux'
									},{
										label: 'Debian',
										category: 'linux'
									}
								]
						});
						
						head.js(        "{{ config.AbsolutePath('js/jwerty.js') }}",
								"{{ config.AbsolutePath('js/jquery.placeholder.min.js') }}",
								"{{ config.AbsolutePath('js/jquery.caret.js') }}",
								"{{ config.AbsolutePath('js/binder.js') }}",
								"{{ config.AbsolutePath('js/slider.js') }}",
								function() {
									slideInit();
                                                                        $('input[placeholder], textarea[placeholder]').placeholder();
						});
						
					});
				}
			);
		</script>
	</head>
	<body>
		<div id="header">
			<div id="headerFilter">
				<div class="centerContent">
					<a href="{{ config.AbsolutePath('') }}">
						<div class="left">
							<img id="logo" alt="logo bearoot" width="64" height="64" class="left top" src="{{ config.AbsolutePath('img/logo-64.png') }}"/>
							<div id="slogan" class="left">
								<h1>b e a r o o t <span class="hl">alpha</span></h1>
								&ldquo;&nbsp;Par&nbsp;les&nbsp;developpeurs,&nbsp;pour&nbsp;les&nbsp;developpeurs.&nbsp;&rdquo;
							</div>
						</div>
					</a>
					<div class="right">
						<div class="menuA">
							<a href="#" class="item">Accueil</a>
							<a href="#" class="item">Live</a>
							<a href="#" class="item">Blog</a>
							<a href="#" class="item">Feedback</a>
						</div>
						<hr class="clearSepRight" />
						<div id="search">
							<input placeholder="rechercher" type="text" title="Ctrl + Shift + F"/>&nbsp;
							<button id="searchButton" class="ui-icon-search">&nbsp;</button>&nbsp;
							<button class="ui-icon-locked">Login</button>&nbsp;
							<a id="subscribeButton" class="hl" href="{{ config.AbsolutePath('inscription') }}" >Inscription</a>
						</div>
					</div>
					
					<hr class="clearSep"/>
					<div class="top-menu">
						<ul id="menuB">
							<li><a href="#" class="first">Langage</a>
								<ul>
									<li><a href="#">Web</a></li>
									<li><a href="#">Logiciel</a></li>
									<li><a href="#">Script</a></li>
								</ul>
							</li>
							<li><a href="#" class="first">Plateforme</a>
								<ul>
									<li><a href="#">UNIX</a>
										<ul>
											<li><a href="#">Linux</a></li>
											<li><a href="#">BSB</a></li>
											<li><a href="#">Mac</a></li>
										</ul>
									</li>
									<li><a href="#">Windows</a></li>
									<li><a href="#">Mobile</a></li>
								</ul>
							</li>
							<li><a href="#" class="first">Logiciel</a>
								<ul>
									<li><a href="#">Browser</a></li>
									<li><a href="#">IDE</a></li>
								</ul>
							</li>
							<li><a href="#" class="first">Reference</a>
								<ul>
									<li><a href="#">Site</a></li>
									<li><a href="#">Application</a></li>
									<li><a href="#">Livre</a></li>
									<li><a href="#">Tutoriel</a></li>
								</ul>
							</li>
							<li><a href="#" class="first">Ressource</a>
								<ul>
									<li><a href="#">Framework</a></li>
									<li><a href="#">Library</a></li>
									<li><a href="#">API</a></li>
									<li><a href="#">Plugin</a></li>
								</ul>
							</li>
							<li><a href="#" class="first">Concept</a>
								<ul>
									<li><a href="#">Paradigme</a></li>
									<li><a href="#">Methodologie</a></li>
								</ul>
							</li>
							<li><a href="#" class="first">Securite</a>
								<ul>
									<li><a href="#">Antivirus</a></li>
									<li><a href="#">Pentest</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="centerContent">
				<div id="breadcrumb">
					<a href="#" class="button hl">Plateformes</a>
					<span class="sep">/</span>
					<a href="#" class="button hl">UNIX</a>
				</div>
				<div id="contentFilter" class="ui-corner-all">